.rankDetail {
    color: #424242;

    &>header {
        display: flex;

        .view-icon {
            &>div {
                width           : 186px;
                height          : 186px;
                background: #d0344e no-repeat 100% 100%/cover;
                border-radius   : 6px;
                text-align      : center;
                line-height     : 170px;
                position: relative;
            }
        }

        .view-desc {
            margin-left    : 26px;
            height         : 186px;
            display        : flex;
            flex-direction : column;
            justify-content: space-between;

            h2 {
                span.view-title {
                    font-weight: bold;
                }
            }

            i {
                font-style: normal;
                color     : #333;
            }
        }
    }

    &>main {
        margin-top: 26px;

    }
}

.letter-left {
    margin-left: 6px;
}

.normal-left {
    margin-left: 12px;
}