.rankDetail {
    color: #424242;

    &>header {
        display: flex;

        .view-icon {
            &>div {
                width           : 186px;
                height          : 186px;
                background: #d0344e no-repeat 100% 100%/cover;
                border-radius   : 6px;
                text-align      : center;
                line-height     : 170px;
                position: relative;
            }
        }

        .view-desc {
            margin-left    : 26px;
            height         : 186px;
            display        : flex;
            flex-direction : column;
            justify-content: space-between;

            h2 {
                span.view-title {
                    font-weight: bold;
                }
            }

            i {
                font-style: normal;
                color     : #333;
            }
        }
    }

    &>main {
        margin-top: 26px;

        .ant-tabs-ink-bar {
            display: none;
        }

        .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
            color    : #424242;
            font-size: 22px;

        }

        .ant-tabs-tab .ant-tabs-tab-btn {
            &:hover {
                color: #424242;
            }
        }
        .ant-tabs-tab:hover {
            color:#424242;
        }
        .ant-tabs-nav::before {
            border:none;
        }

        .songListDetail-table {
            th {
                border:none;
                background-color: #fff !important;
                color: rgb(150, 150, 150);

                &::before {
                    display: none;
                }
            }
            .songListDetail-tableRow {
                * {
                    color: rgb(150, 150, 150);
                }

                .song_title {
                    color: #333;
                }

                &:hover td {
                    background-color: rgb(240, 241, 242) !important;
                }

                &:nth-of-type(odd) {
                    background-color: #f9f9f9;
                }

                &:nth-of-type(even) {
                    background-color: #fff;
                }

                .ant-table-cell {
                    border: none;
                }
            }
        }


    }
}

.letter-left {
    margin-left: 6px;
}

.normal-left {
    margin-left: 12px;
}