.card-image {
    cursor: pointer;
    width   : 100%;
    position: relative;

    .play-count {
        position   : absolute;
        width: 100%;
        text-align: right;
        left      : 0;
        top        : 0;
        color      : #fff;
        line-height: 20px;
        padding:0 6px;
        font-size  : 12px;
        background-image:linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.01)) 
    }

    img {
        width        : 100%;
        border-radius: 4px;
    }
}

.card-title {
    cursor: pointer;
    margin-top        : 6px;
    display           : -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow          : hidden;
    &:hover {
        color: #d0344e;
    }
}