$primaryColor:#d0344e;

html {
    --antd-wave-shadow-color: $primaryColor;
}

blockquote,
body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
input,
legend,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
    margin : 0;
    padding: 0;
}

ul {
    list-style: none;
}


.container {
    width : 1200px;
    margin: 0 auto;
}

.anticon {
    color: #999;
}

.clearfix::after {
    content   : "";
    display   : block;
    width     : 0;
    height    : 0;
    overflow  : hidden;
    visibility: hidden;
    clear     : both;
}


.App {
    overflow: hidden;

    &>header {
        height         : 60px;
        display        : flex;
        flex-direction : column;
        justify-content: center;

        .logo {
            font-size     : 22px;
            // text-align: center;
            letter-spacing: 3px;
        }

        .header-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .search-wrapper {
                height: 40px;

                &>div {
                    width      : 400px;
                    height     : 100%;
                    display    : flex;
                    align-items: center;

                    &>span {
                        border-radius: 24px;
                    }
                }
            }
            .user-wrapper {
                margin-right: 26px;
                &>span {
                    cursor: pointer;
                }
                &>a {
                    span {
                        margin-left: 10px;
                        color:#333;
                    }
                }
            }
        }


    }

    &>main {
        .menu-wrapper {
            border      : 1px solid #f0f0f0;
            border-right: none;

            &>ul {
                max-height   : calc(100vh - 100px);
                overflow     : hidden;
                padding-right: 2px;

                &:hover {
                    overflow-y: auto;
                    overflow-x: hidden;
                }

                .ant-menu-item {
                    width: 216px;
                }
            }
        }

        .view-wrapper {
            max-height   : calc(100vh - 100px);
            overflow-y   : auto;
            overflow-x   : hidden;
            padding-right: 10px;
        }
    }
}





.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background: #CB356B;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #BD3F32, #CB356B);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #BD3F32, #CB356B);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}



.ant-menu-item-selected {
    color: #fff !important;

    a {
        color: #fff !important;

        &:hover {
            color: #fff !important;
        }
    }

    .anticon {
        color: #fff;
    }
}

.ant-menu-light .ant-menu-item:hover {
    background-color: rgba(0, 0, 0, .03);
}

.ant-menu-item a:hover {
    color: rgba(0, 0, 0, .8);

}

.ant-table-thead>tr>th,
.ant-table-tbody>tr>td {
    border-bottom: none;
}

.songListDetail-table {
    th {
        border          : none;
        background-color: #fff !important;
        color           : rgb(150, 150, 150);

        &::before {
            display: none;
        }
    }

    .songListDetail-tableRow {
        * {
            color: rgb(150, 150, 150);
        }

        .song_title {
            color: #333;
        }

        &:hover td {
            background-color: rgb(240, 241, 242) !important;
        }

        &:nth-of-type(odd) {
            background-color: #f9f9f9;
        }

        &:nth-of-type(even) {
            background-color: #fff;
        }

        .ant-table-cell {
            border: none;
        }
    }
}


::-webkit-scrollbar {
    width : 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background   : rgba(0, 0, 0, 0.08);
}

::-webkit-scrollbar-track {
    /*滚动条里面轨道*/


    border-radius: 10px;

    background: #fff;

}